.App {
  text-align: center;
  background-color: wheat;
  height:500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Greeting {
  color: #e9dbc6;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 3px solid;
  border-color: black;
  border-radius: 5px;
  background-color:#98694d;
  text-shadow: #000;

}

.header {
 color: #e9dbc6;
 display: flex;
 justify-content: center;
 border: 3px solid;
 border-color: black;
 border-radius: 5px;
 margin-top: 10px;
 background-color:#98694d;
 text-shadow: #000;
}

html body{
  height: 60%;
  background-color: #000;
}


.Content {
  color:#e9dbc6;
  display: flex;
  justify-content: center;
  border: 3px solid;
  border-color: black;
  border-radius: 5px;
  margin-top: 10px;
  background-color:#98694d;
  text-shadow: #000;
}

.footer{
  color:#e9dbc6;
  bottom: 0;
  text-align: center;
  display: flex;
 justify-content: center;
 border: 3px solid;
 border-color: black;
 border-radius: 5px;
 margin-top: 10px;
 background-color:#98694d;
 text-align: center;
 text-shadow: #000;
}